contact.html
<!DOCTYPE 5>
<html ang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Meta ---->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Site Meta-->
    <title>Learn Pug Template Engin</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="css/pogo-slider.min.css"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css"/>
    <!--[if lt IE 9]-->
  </head>
  <body class="inner_page" id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <!-- LOADER -->
    <div id="preloader">
      <div class="loader"><img src="images/loader.gif" alt="#"/></div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->
    <!-- Start header -->
    <header class="top-header">
      <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid"><a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="image"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
              <!--For Loop--><span></span><span></span><span></span><span></span>
            </button></a>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
            <!--Mixin-->
            <ul class="navbar-nav">
              <li><a class="nav-link active" href="index.html">Home</a></li>
              <li><a class="nav-link" href="about.html">About us</a></li>
              <li><a class="nav-link" href="services.html">Services</a></li>
              <li><a class="nav-link" href="#">Blog</a></li>
              <li><a class="nav-link" href="contact.html">Contact</a></li>
              <li><a class="nav-link active" style="background:#f2184f;color:#fff;" href="#">Sin up</a></li>
            </ul>
          </div>
          <div class="search-box">
            <input class="search-txt" type="text" placeholder="Search"/><a class="search-btn"><img src="images/search_icon.png" alt="#"/></a>
          </div>
        </div>
      </nav>
    </header>
    <!-- End header -->
    <div class="section inner_page_header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="full">
              <h3>Contact</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <div class="heading_main text_align_left">
                <div class="left">
                  <p class="section_count">01</p>
                </div>
                <div class="right">
                  <p class="small_tag">Contact</p>
                  <h2><span class="theme_color">How to provide tools that help anyone give a voice to their ideas</span></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-top_30">
          <div class="col-lg-7 col-sm-7 col-xs-12 margin-top_30">
            <div class="contact-block">
              <form id="contactForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required="required" data-error="Please enter your name"/>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Your Email" id="email" name="name" required="required" data-error="Please enter your email"/>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Your number" id="number" name="number" required="required" data-error="Please enter your number"/>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"> 
                      <textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required="required"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button text-center">
                      <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                      <div class="h3 text-center hidden" id="msgSubmit"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 col-sm-5 col-xs-12 margin-top_30">
            <div class="left-contact">
              <div class="media cont-line">
                <div class="media-left icon-b"><i class="fa fa-location-arrow" aria-hidden="true" style="line-height: 52px;"></i></div>
                <div class="media-body dit-right">
                  <h4>Address</h4>
                  <p>Fleming 196 Woodside Circle Mobile, FL 36602</p>
                </div>
              </div>
              <div class="media cont-line">
                <div class="media-left icon-b"><i class="fa fa-envelope" aria-hidden="true" style="line-height: 52px;"></i></div>
                <div class="media-body dit-right">
                  <h4>Email</h4><a href="#">demoinfo@gmail.com</a>
                  <div class="a" href="#">demoinfo@gmail.com</div>
                </div>
              </div>
              <div class="media cont-line">
                <div class="media-left icon-b"><i class="fa fa-volume-control-phone" aria-hidden="true" style="line-height: 52px;"></i></div>
                <div class="media-body dit-right">
                  <h4>Phone Number</h4><a href="#">12345 67890 </a>
                  <div class="a" href="#">12345 67890</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Footer-->
    <footer class="footer-box">
      <div class="container">
        <div class="row">
          <div class="col-md-12 margin-bottom_30"><img src="img/f_logo.png" alt="#"/></div>
          <div class="col-xl-6 white_fonts">
            <div class="row">
              <div class="col-md-12 white_fonts margin-bottom_30">
                <h3>Contact Us</h3>
              </div>
              <div class="col-md-4">
                <div class="full icon"><img src="images/social1.png"/></div>
                <div class="full white_fonts">
                  <p>London 145 br United Kingdom</p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="full icon"><img src="images/social2.png"/></div>
                <div class="full white_fonts">
                  <p>consultation@gmail.com consultation@gmail.com</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="full icon"><img src="images/social3.png"/></div>
                <div class="full white_fonts">
                  <p>+7586656566 +7586656566</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <!-- Mixin-->
              <ul class="full social_icon margin-top_20">
                <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li> <a href="#"> <i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 white_fonts">
            <div class="row">
              <div class="col-md-6">
                <div class="footer_blog footer_menu">
                  <h3>Menus</h3>
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li> <a href="#">Blog</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                  </ul>
                </div>
                <div class="footer_blog recent_post_footer">
                  <h3>Recent Post</h3>
                  <p>Participate in staff meetings manage dedicated to marketing November 25, 2019/p)</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer_blog full">
                  <h3>Newsletter</h3>
                  <div class="newsletter_form">
                    <form action="index.html"></form>
                    <input type="email" placeholder="Your Email" name="#" required="required"/>
                    <button> Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer_bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="crp">© 2019 Business . All Rights Reserved./p)</p>
            <ul class="bottom_menu">
              <li><a href="#">Term of Service</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><a class="hvr-radial-out" href="#" id="scroll-to-top"> <i class="fa fa-angle-up" style="line-height: 38px;"></i></a>
    <!-- Mixin ANd Includes-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
    <!--ALL JS FILES-->
  </body>
</html>

contact.pug
extend layout/index.pug

block contentPages
  div(class="section inner_page_header")
    div(class="container")
      div(class="row")
        div(class="col-lg-12")
          div(class="full")
            h3 Contact
  div(class="section layout_padding")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="full")
            div(class="heading_main text_align_left")
              div(class="left")
                p(class="section_count") 01
              div(class="right")
                p(class="small_tag") Contact
                h2
                  span(class="theme_color") How to provide tools that help anyone give a voice to their ideas
      div(class="row margin-top_30")
        div(class="col-lg-7 col-sm-7 col-xs-12 margin-top_30")
          div(class="contact-block")
            form(id="contactForm")
              div(class="row")
                div(class="col-md-6")
                  div(class="form-group")
                    input(type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name")
                    div(class="help-block with-errors")
                div(class="col-md-6")
                  div(class="form-group")
                    input(type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email")
                    div(class="help-block with-errors")
                div(class="col-md-12")
                  div(class="form-group")
                    input(type="text" placeholder="Your number" id="number" class="form-control" name="number" required data-error="Please enter your number")
                    div(class="help-block with-errors")
                div(class="col-md-12")
                  div(class="form-group") 
                    textarea(class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required)
                    div(class="help-block with-errors")
                  div(class="submit-button text-center")
                    button(class="btn btn-common" id="submit" type="submit") Send Message
                    div(id="msgSubmit" class="h3 text-center hidden")
                    div(class="clearfix")
        div(class="col-lg-5 col-sm-5 col-xs-12 margin-top_30")
          div(class="left-contact")
            div(class="media cont-line")
              div(class="media-left icon-b")
                i(class="fa fa-location-arrow" aria-hidden="true" style="line-height: 52px;")
              div(class="media-body dit-right")
                h4 Address
                p Fleming 196 Woodside Circle Mobile, FL 36602
            div(class="media cont-line")
              div(class="media-left icon-b")
                i(class="fa fa-envelope" aria-hidden="true" style="line-height: 52px;")
              div(class="media-body dit-right")
                h4 Email
                a(href="#") demoinfo@gmail.com
                |
                .a(href="#") demoinfo@gmail.com
            div(class="media cont-line")
              div(class="media-left icon-b")
                i(class="fa fa-volume-control-phone" aria-hidden="true" style="line-height: 52px;")
              div(class="media-body dit-right")
                h4 Phone Number
                a(href="#") 12345 67890 
                |
                .a(href="#") 12345 67890
