layout/index.pug
include ../includes/variables.pug
include ../includes/mixin.pug
doctype 5
html(ang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        // Mobile Meta --
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        // Site Meta
        title #{SiteName}
        //-Mixin Meta
        +All_meta
        //- Css Style
        include ../includes/style.pug
        //- End Css Style

    body(id="home" data-spy="scroll" class="inner_page" data-target="#navbar-wd" data-offset="98")
        // LOADER 
        div(id="preloader")
            div(class="loader")
                img(src="images/loader.gif" alt="#")
        // end loader 
        // END LOADER 
        // Start header 
        header(class="top-header")
            nav(class="navbar header-nav navbar-expand-lg")
                div(class="container-fluid")
                    a(class="navbar-brand" href="index.html")
                        img(src="img/logo.png" alt="image")
                        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation")
                            //For Loop
                            - for(var x = 0;x <= 3;x++)
                                span
                    div(class="collapse navbar-collapse justify-content-end" id="navbar-wd")
                        //Mixin
                        +main_nav_bar
                    div(class="search-box")
                        input(type="text" class="search-txt" placeholder="Search")
                        a(class="search-btn"): img(src="images/search_icon.png" alt="#")
        // End header 
        //- slider
        block contentPages
            div Not Found
        // Start Footer
        footer(class="footer-box")
            div(class="container")
                div(class="row")
                    div(class="col-md-12 margin-bottom_30")
                        img(src="img/f_logo.png" alt="#")
                    div(class="col-xl-6 white_fonts")
                        div(class="row")
                            div(class="col-md-12 white_fonts margin-bottom_30")
                                h3 Contact Us
                            div(class="col-md-4")
                                div(class="full icon")
                                    img(src="images/social1.png")
                                
                                div(class="full white_fonts"): p London 145 br United Kingdom
                                        
                            div(class="col-md-5")
                                div(class="full icon")
                                    img(src="images/social2.png")
                                
                                div(class="full white_fonts"): p consultation@gmail.com consultation@gmail.com
                                        
                            div(class="col-md-3")
                                div(class="full icon"): img(src="images/social3.png")
                                
                                div(class="full white_fonts"): p +7586656566 +7586656566
                                        
                        div(class="col-md-12")
                            // Mixin
                            +social_icon
                    div(class="col-xl-6 white_fonts")
                        div(class="row")
                            div(class="col-md-6")
                                div(class="footer_blog footer_menu")
                                    h3 Menus
                                    //-mixin
                                    +list_nav
                                div(class="footer_blog recent_post_footer")
                                    h3 Recent Post
                                    p Participate in staff meetings manage dedicated to marketing November 25, 2019/p)
                            div(class="col-md-6")
                                div(class="footer_blog full")
                                    h3 Newsletter
                                    div(class="newsletter_form")
                                        form(action="index.html")
                                        input(type="email" placeholder="Your Email" name="#" required) 
                                        button  Submit
        div(class="footer_bottom")
            div(class="container")
                div(class="row")
                    div(class="col-12")
                        p(class="crp") © 2019 Business . All Rights Reserved./p)
                        ul(class="bottom_menu")
                            li: a(href="#") Term of Service
                            li: a(href="#") Privacy
        a(href="#" id="scroll-to-top" class="hvr-radial-out") 
            i(class="fa fa-angle-up" style="line-height: 38px;")
        //- Start Include Scripts
        //- js scripts
        // Mixin ANd Includes
        include ../includes/scripts.pug
        //- End js scripts
        //ALL JS FILES

index.html
<!DOCTYPE 5>
<html ang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Meta ---->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Site Meta-->
    <title>Learn Pug Template Engin</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="css/pogo-slider.min.css"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css"/>
    <!--[if lt IE 9]-->
  </head>
  <body class="inner_page" id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <!-- LOADER -->
    <div id="preloader">
      <div class="loader"><img src="images/loader.gif" alt="#"/></div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->
    <!-- Start header -->
    <header class="top-header">
      <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid"><a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="image"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
              <!--For Loop--><span></span><span></span><span></span><span></span>
            </button></a>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
            <!--Mixin-->
            <ul class="navbar-nav">
              <li><a class="nav-link active" href="index.html">Home</a></li>
              <li><a class="nav-link" href="about.html">About us</a></li>
              <li><a class="nav-link" href="services.html">Services</a></li>
              <li><a class="nav-link" href="#">Blog</a></li>
              <li><a class="nav-link" href="contact.html">Contact</a></li>
              <li><a class="nav-link active" style="background:#f2184f;color:#fff;" href="#">Sin up</a></li>
            </ul>
          </div>
          <div class="search-box">
            <input class="search-txt" type="text" placeholder="Search"/><a class="search-btn"><img src="images/search_icon.png" alt="#"/></a>
          </div>
        </div>
      </nav>
    </header>
    <!-- End header -->
    <div class="ulockd-home-slider">
      <div class="container-fluid">
        <div class="row">
          <div class="pogoSlider" id="js-main-slider">
            <div class="pogoSlider-slide" style="background-image:url(img/banner-img.png);">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="slide_text">
                      <h3>Trusted and br Professional Advisers</h3>
                      <h4> <span class="theme_color">For your Business/span)</span></h4>
                      <p>Showcase your Profile to the world using online CV builder and Get Hired Faster</p><a class="contact_bt" href="about.html">About us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pogoSlider-slide" style="background-image:url(img/banner-img.png);">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="slide_text">
                      <h3>Trusted andbr Professional Advisers</h3>
                      <h4> <span class="theme_color">For your Business</span></h4>
                      <p>Showcase your Profile to the world using online CV builder and Get Hired Faster<a class="contact_bt" href="about.html">About </a></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .pogoSlider -->
            </div>
          </div>
        </div>
        <!-- End Banner -->
      </div>
    </div>
    <div class="section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <div class="heading_main text_align_left">
                <div class="left">
                  <p class="section_count">01</p>
                </div>
                <div class="right">
                  <p class="small_tag">About us</p>
                  <h2> <span class="theme_color">WE CAN HELP YOUR business GROW</span></h2>
                  <p class="large">Get your Business in 4 easy steps</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section dark_bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12 text_align_center padding_0">
            <div class="full"><img class="img-responsive" src="img/img-2png.png" alt="#"/></div>
          </div>
          <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
            <h3 class="small_heading">EVEReTHIN Gbr YOU NEED IN ONE SOLUTION</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
            content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
            their default model..
          </div>
        </div>
      </div>
    </div>
    <div class="section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <div class="heading_main text_align_left">
                <div class="left">
                  <p class="section_count">02</p>
                </div>
                <div class="right">
                  <p class="small_tag">SERVICES</p>
                  <h2 class="theme_color" span="span">How to provide tools that help anyone give a voice to their ideas/h2)</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-top_30">
          <div class="col-sm-6 col-md-4">
            <div class="service_blog">
              <div class="service_icons"><img width="75" height="75" src="img/icon-1.png" alt="#"/></div>
              <div class="full">
                <h4>DIGITAL marketing</h4>
              </div>
              <div class="full">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service_blog">
              <div class="service_icons"><img width="75" height="75" src="img/icon-2.png" alt="#"/></div>
              <div class="full">
                <h4>DIGITAL marketing</h4>
              </div>
              <div class="full">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service_blog">
              <div class="service_icons"><img width="75" height="75" src="img/icon-3.png" alt="#"/></div>
              <div class="full">
                <h4>DIGITAL marketing</h4>
              </div>
              <div class="full">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service_blog">
              <div class="service_icons"><img width="75" height="75" src="img/icon-4.png" alt="#"/></div>
              <div class="full">
                <h4>DIGITAL marketing</h4>
              </div>
              <div class="full">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service_blog">
              <div class="service_icons"><img width="75" height="75" src="img/icon-5.png" alt="#"/></div>
              <div class="full">
                <h4>DIGITAL marketing</h4>
              </div>
              <div class="full">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service_blog">
              <div class="service_icons"><img width="75" height="75" src="img/icon-6.png" alt="#"/></div>
              <div class="full">
                <h4>DIGITAL marketing</h4>
              </div>
              <div class="full">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Footer-->
    <footer class="footer-box">
      <div class="container">
        <div class="row">
          <div class="col-md-12 margin-bottom_30"><img src="img/f_logo.png" alt="#"/></div>
          <div class="col-xl-6 white_fonts">
            <div class="row">
              <div class="col-md-12 white_fonts margin-bottom_30">
                <h3>Contact Us</h3>
              </div>
              <div class="col-md-4">
                <div class="full icon"><img src="images/social1.png"/></div>
                <div class="full white_fonts">
                  <p>London 145 br United Kingdom</p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="full icon"><img src="images/social2.png"/></div>
                <div class="full white_fonts">
                  <p>consultation@gmail.com consultation@gmail.com</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="full icon"><img src="images/social3.png"/></div>
                <div class="full white_fonts">
                  <p>+7586656566 +7586656566</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <!-- Mixin-->
              <ul class="full social_icon margin-top_20">
                <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li> <a href="#"> <i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 white_fonts">
            <div class="row">
              <div class="col-md-6">
                <div class="footer_blog footer_menu">
                  <h3>Menus</h3>
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li> <a href="#">Blog</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                  </ul>
                </div>
                <div class="footer_blog recent_post_footer">
                  <h3>Recent Post</h3>
                  <p>Participate in staff meetings manage dedicated to marketing November 25, 2019/p)</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer_blog full">
                  <h3>Newsletter</h3>
                  <div class="newsletter_form">
                    <form action="index.html"></form>
                    <input type="email" placeholder="Your Email" name="#" required="required"/>
                    <button> Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer_bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="crp">© 2019 Business . All Rights Reserved./p)</p>
            <ul class="bottom_menu">
              <li><a href="#">Term of Service</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><a class="hvr-radial-out" href="#" id="scroll-to-top"> <i class="fa fa-angle-up" style="line-height: 38px;"></i></a>
    <!-- Mixin ANd Includes-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
    <!--ALL JS FILES-->
  </body>
</html>
